<div id="chat">
  <div id="chat-window" #chatWindow>
    <div class="message" *ngFor="let message of messages">
      <div *ngIf="message.role === 'assistant'" style="display: flex">
        <div class="bot-profile"></div>
        <pre
          [ngClass]="message.role"
          *ngIf="message.content !== ''"
        ><app-typewriter [text]="message.content"/></pre>
      </div>
      <pre *ngIf="message.role === 'user'" [ngClass]="message.role">{{
        message.content
      }}</pre>
    </div>
  </div>
  <app-message-bar />
  <span> ChatGPT can make mistakes. Check important info. </span>
</div>
