<div id="chat">
  <div id="chat-window" #chatWindow>
    <div class="message" *ngFor="let message of messages">
      <div *ngIf="message.from === 'bot'" style="display: flex">
        <div class="bot-profile"></div>
        <pre
          [ngClass]="message.from"
          *ngIf="message.message !== ''"
        ><app-typewriter [text]="message.message"/></pre>
      </div>
      <pre *ngIf="message.from === 'user'" [ngClass]="message.from">{{
        message.message
      }}</pre>
    </div>
  </div>
  <app-message-bar />
  <span> ChatGPT can make mistakes. Check important info. </span>
</div>
