.large-button {
    border-radius: 26px;
    padding: 11px;
    cursor: pointer;
}

.button-content {
    align-items: center;
    display: flex;
    color: var(--color-grey-ultradark);
    font-size: 0.8rem;
    font-weight: 400;
}

.button-icon {
    background-size: contain; 
    background-repeat: no-repeat; 
    border: 0;
    width: 16px;
    height: 16px;
    margin-right: 11px;
}

.write {
    background-image: url('../../../assets/images/icon_0000.png');
}

.suprise {
    background-image: url('../../../assets/images/icon_0001.png');
}

.educate {
    background-image: url('../../../assets/images/icon_0002.png');
}

.plan {
    background-image: url('../../../assets/images/icon_0003.png');
}
.code {
    background-image: url('../../../assets/images/icon_0004.png');
}
.summerize {
    background-image: url('../../../assets/images/icon_0005.png');
}
