<div class="message-box">
  <form id="message-form" (submit)="$event.preventDefault(); sendMessage()">
    <textarea
      #textarea
      name="message"
      id="message-input"
      [(ngModel)]="text"
      (input)="resizeTextArea()"
      (keydown)="handleKeydown($event)"
      rows="1"
      placeholder="Message ChatGPT"
    ></textarea>
    <button
      id="send-button"
      [ngClass]="isResponseInProgress() ? 'stop' : ''"
      type="submit"
      [disabled]="!text.trim() && !isResponseInProgress()"
      (click)="isResponseInProgress() ? cancelResponse() : null"
    ></button>
  </form>
</div>
