<header>
  <div id="menu">
    <app-menu-button (click)="newConversation()">
      <div id="new-chat"></div>
    </app-menu-button>
    <app-menu-button id="llm-button">
      <div class="llm-model">
        <p>ChatGPT 4o mini</p>
        <div id="arrow-down"></div>
      </div>
    </app-menu-button>
  </div>
  <div id="auth">
    <app-small-button [style]="'dark-button'"> Log in </app-small-button>
    <app-small-button [style]="'light-button'" id="signup">
      <p>Sign up</p>
    </app-small-button>
  </div>
</header>
