header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    top: 0;
    z-index: 2;
}

.llm-model {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.select-model {
    display: flex;
    gap: 6px;
    align-items: center;
}

#arrow-down {
    background-color: transparent;
    background-image: url('../../../assets/images/arrow_menu.png');
    background-size: contain; 
    background-position: bottom; 
    background-repeat: no-repeat; 
    border: 0;
    width: 12px;
    height: 8px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .llm-model {
        flex: 0;
    }
}