<div id="home">
  <div id="title">
    <h2 class="welcome-message">
      <app-typewriter
        [text]="'What can I help with?'"
        [typeSpeed]="20"
        (isTyping)="showMarker($event)"
      />
    </h2>
    <div #markerDot class="marker-dot"></div>
  </div>
  <app-message-bar />
  <app-suggestions (selectedSuggestion)="onSuggestionSelected($event)" />
  <span>
    By messaging ChatGPT, you agree to our <a href="/">Terms</a> and have read
    our<a href="/"> Privacy Policy</a>.
  </span>
</div>
