#home {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
}
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.marker-dot {
    height: 1.5em;
    width: 1.5em;
    background-color: black; 
    border-radius: 100%;
    aspect-ratio: 1;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

span{
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-grey-ultradark);
}

a {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    #home {
        height:  100vh;
        gap: 24px;
    }

    #title {
        width: 46px;
        height: 46px;
        background-image: url('../../../assets/images/gpt_logo.png');
        background-size:auto;
        background-repeat: no-repeat;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 36vh;

        h1 {
            display: none;
        }
    }
    .marker-dot {
        display: none;
    }

    app-message-bar {
        order: 2;
    }

    app-suggestions {
        order: 1;
    }

    span {
        order: 3;
    }
}

@media (max-width: 768px) {
    #title {
        margin-bottom: 0;
    }
}