.suggestions-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.suggestions-grid {
    display:none;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

app-clickable-card {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1024px) {
    .suggestions-buttons {
        display: none;
    }

    .suggestions-grid {
      display: grid;
    }
      
}

@media (max-width: 532px) {
  .suggestions-grid {
    grid-template-columns: 1fr;
  }
}
